.block {
  margin: 20px 25px 30px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 900;
      font-size: 32px;
    }
  }
  .content {
    margin-top: 10px;
  }
}
